*{
	margin: 0;
	padding: 0;
}
body{
	background: #1a4a86;
	width: 100%;
	height: 100vh;
}
.contenedor{
	width: 100%;
	color: #fff;
	font-family: sans-serif;
}
.concursantes{
	margin-top: 20px;
	text-align: center;
	position: relative;
}
h1{
	text-align: center;
}
canvas{
	position: relative;
	z-index: 1;
}
.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#idcanvas {
  max-width: 100%;
  max-height: 100%;
}

.mark-winner{
	position: absolute;
	clip-path: polygon(50% 100%, 10% 0, 90% 0);
	background: transparent;
	width: 30px;
	height: 60px;
	top: 0;
	right: 48.3%;
	z-index: 10;
	box-shadow: 0 0 3px #33333399;
}

.centrado{
  position:absolute;
  top:0;
  background-color: red;
  height: 100px;
  width: 100px;
  clip-path: polygon(49px 50px, 35px 0, 65px 0);
  z-index: 10;
}

.small .react-colorful {
  width: 100px;
  height: 100px;
}
.small .react-colorful__hue {
  height: 20px;
}


.botones {
  background-color: yellow;
  border-radius: 50px;
  padding: 5px;
  font-size: xx-large;
  border:1px solid black;
  font-weight: bold;
  cursor: pointer;
} 